.active-carousel {
    background-image: url('images/26383.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 80vh;
    overflow-x: hidden;
    width: 100vw;
    transition-delay: 0s;
    background-blend-mode: overlay;
    background-color: rgba(31, 29, 29, 0.486);
    scroll-behavior: smooth;
}


/* .two {
    background-image: url('images/Weather-Blog-Image.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 94.5vh;
    width: 100vw;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.486);
}

.three {
    background-image: url('images/storm.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 94.5vh;
    width: 100vw;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.486);
} */

.row {
    padding: 7rem 0rem;
}

.text {
    color: #fff;
    font-weight: 900;
}

#map {
    background-color: #c5c5c6;
    height: 400px;
}

@media screen and (max-width:500px) {
    .w-90 {
        width: 90% !important;
    }
    * {
        list-style: none !important;
    }
    .row {
        padding: 2rem 0rem;
        text-align: center;
    }
    .active-carousel {
        height: max-content;
    }
    .text-row li {
        padding: 0 !important;
    }
    .text-row {
        position: static;
    }
    .text {
        display: none;
    }
}